@page
@model Labs_HW_107_ASP_Web.Pages.SpartaModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<center>
    <img src="~/images/pixta_9437275_M-1.jpg" style="        width: 1140px;
        height: 400px;" align="middle" />
</center>
<br />
<h1 align="center" style="font-weight: bold">
    <font color="red">Top 10 tourist attractions</font>
</h1>

<style>
    .flexbox {
        display: flex;
        width: 75%;
        background-color: white;
        justify-content: center;
    }

    .flexitem {
        display: flex;
        background-color: lightblue;
        padding: 10px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #block {
        width: 100%;
        padding: 20px 20px 20px 20px;
        background-color: lightpink;
        border-radius: 20px 20px 0px 0px;
        text-align: center;
        font-size: 1em;
    }

    .block1 {
        width: 100%;
        padding: 20px 20px 20px 20px;
        background-color: lightblue;
        text-align: center;
        font-size: 1em;
    }

    .block2 {
        width: 100%;
        padding: 20px 20px 20px 20px;
        background-color: lightgreen;
        text-align: center;
        font-size: 1em;
    }

    .block3 {
        width: 100%;
        padding: 20px 20px 20px 20px;
        background-color: lightslategray;
        border-radius: 0px 0px 20px 20px;
        text-align: center;
        font-size: 1em;
    }
</style>

<div id="block">
    <img src="~/images/a0002532_main.jpg" style="        width: 600px;
        height: 250px;" align="middle" />
    <h1 align="center">1. Mount Fuji</h1>
    <br />
    Without a doubt Japan's most recognizable landmark, majestic Mount Fuji (Fuji-san) is also the country's highest mountain peak, towering 3,776 meters over an otherwise largely flat landscape to the south and east, and tall enough to be seen from Tokyo more than 100 kilometers away. Mount Fuji has for centuries been celebrated in art and literature and is now considered so important an icon that UNESCO recognized its world cultural significance in 2013. Part of the Fuji-Hakone-Izu National Park, Mount Fuji is climbed by more than a million people each summer as an act of pilgrimage, which culminates in watching the sunrise from its summit. While some still choose to begin their climb from the base, the majority of climbers now start from above the halfway mark, at the 5th Station, resulting in a more manageable six or so hour ascent. Of course, for many, simply viewing the mountain from the distance, or from the comfort of a speeding train, is enough to say "been there, done that."
</div>

<div class="block1">
    <img src="~/images/3017_02.jpg" style="        width: 600px;
        height: 250px;" align="middle" />
    <h1 align="center">2. Imperial Tokyo</h1>
    <br />
    Tokyo's most famous landmark, the Imperial Palace with its beautiful 17th-century parks surrounded by walls and moats, is a must-see when visiting the nation's capital. Don't be put off by the fact that the majority of the palace is closed to the public (it's still in use by the Imperial family), as there is still enough to see simply by strolling the grounds. In addition to the many fine views of the palace from numerous points in the surrounding parkland - including the famous Nijubashi Bridge, or "double bridge," so named for its watery reflection - visitors are permitted into the East Higashi-Gyoen Garden and other areas that are opened to the public as part of an organized tour. Another must-see for tourists visiting Tokyo is the famous Ginza shopping district, home to the Kabuki-za Theatre with its Kabuki performances, as well as the Shimbashi Enbujo Theatre with its traditional Azuma-odori dances and Bunraku performances.
</div>

<div class="block2">
    <img src="~/images/kyoto-must-do-shutterstock_403209976-L.jpg" style="        width: 600px;
        height: 250px;" align="middle" />
    <h1 align="center">3. Historic Kyoto</h1>
    <br />
    One of Japan's most visited cities, lovely Kyoto - one of the few cities in the country to be spared the devastation of WWII - attracts more than 10 million visitors annually to explore its fine old streets and architecture, much of it unchanged since the Imperial family took up residence here more than 1,000 years ago. Even then, the city was Japan's most important cultural center, a legacy that continues with its many museums and art galleries, each bursting with important sculptures, paintings, and other art forms. Highlights of Kyoto's Buddhist-influenced architecture include its many well-preserved temples, 30 of which are still in use, and important structures such as the 14th-century Golden Pavilion (Kinkaku-ji), famous for its exquisite gold-leaf-clad exterior. Be sure to also visit Nijo Castle, a 17th-century fortress that has retained its original walls, towers, and moat; its beautiful gates; and its palace with fine interior décor. Also worth a visit is the original Kyoto Imperial Palace (Kyoto-gosho), built in AD 794 and one of the city's most visited historic sites. Finally, no visit to Kyoto is complete without spending time exploring the Arashiyama Bamboo Grove, a beautiful area of tall bamboo just a few minutes' walk from the town center.
</div>

<div class="block3">
    <img src="~/images/miyajima-torii-gate-1200x800.jpg" style="        width: 600px;
        height: 250px;" align="middle" />
    <h1 align="center">4. The Island Shrine of Itsukushima</h1>
    <br />
    Just a short ferry ride from mainland Hiroshima is the island of Miyajima, famous the world over as Japan's Shrine Island. Covering an area of 30 square kilometers in Hiroshima Bay, Miyajima is best known as the home of the Itsukushima Shrine, a Shinto temple dedicated to the Princess daughters of the wind god Susanoo. Dating from the eighth century, the majority of the shrine's buildings rise out of the waters of a small bay supported only by piles. The effect at high tide is simply stunning, making these structures - including the famous Great Floating Gate (O-Torii) - appear as if they're floating on water. Linked together by walkways and bridges, it's a fascinating place to explore, in particular its larger halls such as the exquisite Honden (Main Hall), the Offerings Hall (Heiden), the Prayer Hall (Haiden), and the Hall of a Thousand Mats (Senjokaku). Another notable feature is the shrine's stage where visitors are entertained with traditional dances and musical performances. Also worth exploring are the island's exquisite grounds and gardens, home to wild deer and numerous bird colonies.
</div>

<div>
    style=”width: 25%; height: 50px; overflow: auto; scrollbar-face-color: #CE7E00; scrollbar-shadow-color: #FFFFFF; br /scrollbar-highlight-color: #6F4709; scrollbar-3dlight-color:#11111; scrollbar-darkshadow-color: #6F4709; br /scrollbar-track-color: #FFE8C1; scrollbar-arrow-color: #6F4709;”>Your text will show here. And you can scroll down to go through all of it. You just have to add a sufficient amount of text to make the scrollbars show. Obviously, this is not enough,o let’s assume we have a little more to say. Eventually, the scrollbars will come in handy. That’s it! :)
</div>

<br />
<a href="https://www.bbc.co.uk">
    <button class="btn btn-info">Click here to find out more!</button>
</a>
<a href="/">
    <button class="btn btn-info">Click here to find out more!</button>
</a>
<a href="/Contact">
    <button class="btn btn-info">Click here to find out more!</button>
</a>
