
@{
    ViewBag.Title = "LisView";
    ViewBag.SubTitle = "First Ever Razer Web Page";
}

<h1>Razer Syntax</h1>

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.SubTitle</h3>

<p>Here is my Hello World ASP.NET Razer Web</p>

<ul>
    <li>one</li>
    <li>two</li>
    <li>three</li>
</ul>

