@page
@model Labs_80_ASP_Core_Web.Pages.FlexBoxModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<style>
    .flexbox {
        display: flex;
        width: 75%;
        background-color: lightgrey;
        justify-content: center;
    }
    .flexitem {
        display: flex;
        background-color: lightblue;
        padding: 10px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        
    }
</style>

<div class="flexbox">
    <div class="flexitem">Hello this is my flexbox</div>
    <div class="flexitem">This</div>
    <div class="flexitem">Is</div>
    <div class="flexitem">My</div>
    <div class="flexitem">Flexbox</div>
</div>
