@{ 

    Layout = "~/View/Shared/_Layout.cshtml";
    var displaystring = "Data Displayed Here";
    var number = 10;

}


@{
    ViewBag.Title = "Contact";
}
<h1>HELOLOLSRFRD</h1>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@ViewData["Message2"]

<p>I am now displaying some data-------@displaystring</p>
<p>Number is @number</p>