@Model  string

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var displaystring = "Data Displayed Here";
    var number = 10;

}


<h1>Hello WORLD!!!!!!!!!!!!!!!!!</h1>

<p>Test message</p>


<p>I am now displaying some data-------@displaystring</p>
<p>Number is @number</p>

<h2>Also this string is displayed @Model</h2>